<form method="post">

    <label>Korisničko ime</label>
    <input 
        type="text" 
        name="_username" 
        value="{{ last_username }}"
    >

    <label>Lozinka</label>
    <input 
        type="password" 
        name="_password"
    >

    <button type="submit">
        Login
    </button>

</form>